@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: absolute;
    background-color: rgb(206, 203, 203);
    /* width: 250px; */
    font-family: "Fira Sans", sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style-type: none;
    font-size: 25px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: pink; */
    height: 40vh;
    width: 80vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 60px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.about {
    font-size: 25px;
}

.moreabout {
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 15px;
}

.buttons {
    margin-top: 30px;
}

.btn {
    padding: 10px;
    border-radius: 18px;
    color: white;
    background-color: skyblue;
    font-size: 14px;
    font-weight: bold;
    margin: 0 4px;
    border-color: skyblue;
}

.btn-sm {
    font-size: 15px;
    margin: 0;
    margin-top: 8px;
}

.btn:hover {
    background-color: white;
    color: skyblue;
}

.devPic img {
    width: auto;
    height: 40vh;
}


/* Contact Form */

.contactform {
    padding: 0 34px;
    padding-top: 80px;
    margin: 0 88px;
    font-family: "Fira Sans", sans-serif;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 35px;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 11px;
    color: blue;
    margin: 0 3px;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 30px;
    margin: 3px 0;
}

#clientenquiry {
    width: 374.39px;
    resize: vertical;
}


/* Blog Page */

.blogContainer {
    margin: 0 88px;
}

.blogContainer h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-top: 60px;
}

.blogItem {
    margin: 20px;
    font-family: "Fira Sans", sans-serif;
}

.blogItem p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* About Me */

.introContainer {
    margin: 0 88px;
    margin-top: 80px;
}

.introContainer h1 {
    font-family: "Fira Sans", sans-serif;
    text-align: center;
    margin: 20px 0;
}

.introContainer h2 {
    font-family: "Fira Sans", sans-serif;
    margin: 20px 0;
}

.introContainer p {
    font-family: 'Source Code Pro', monospace;
}

.skillItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.skill {
    width: 300px;
    height: 15px;
}

.hundred {
    width: 300px;
    background-color: chocolate;
}

.seventy-five {
    width: 225px;
    background-color: rgb(32, 88, 191);
}

.fifty {
    width: 150px;
    background-color: cyan;
}

.twenty-five {
    width: 75px;
    background-color: hotpink;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 135px;
}

.ham {
    margin-left: 10px;
}


/* Responsive Design */

@media (max-width:600px) {
    /* .sidebar {
        transform: translate(-443px, 0px);
        position: absolute;
    } */
    .devPic {
        display: none;
    }
    .blogContainer,
    .introContainer,
    .contactform {
        margin-left: 10px;
        margin-right: 0;
    }
    .contactform form div input {
        width: auto;
    }
    #emailHelp {
        font-size: 8px;
    }
    #clientenquiry {
        width: auto;
    }
}